<div id="resume">
  <%= image_tag("cv/gustav.jpg", :id => 'pic') %>

  <div id="contact-info" class="vcard">
  
      <!-- Microformats! -->
  
      <h1 class="fn">Gustav Persson</h1>
  
      <p>
          Cell: <span class="tel">0733-766493</span><br />
          Email: <a class="email" href="mailto:gustav.e.persson@gmail.com">gustav.e.persson@gmail.com</a><br />
          Twitter: <a href="https://www.twitter.com/gustavpersson">@gustavpersson</a>
      </p>
  </div>
          
  <div id="objective">
      <p>
        I am a software developer with good skills in modern web technologies, both front and back-end.
        When developing back-end functionality I am driven from a creativity side.
        However, I also have an interest in front-end development and develop systems from of a user perspective.
        As a developer, I seem to have a knack for finding and squashing bugs.
        I am not afraid to voice my opinion and take a discussion.
        During my free time I'm a passionate Malmö FF supporter and gamer, as well as an amateur beer home brewer.
    </p>
  </div>
  
  <div class="clear"></div>
  
  <dl>
      <dd class="clear"></dd>
      
      <dt>Education</dt>
      <dd>
          <h2>Blekinge Institute of Technology - Ronneby/Karlskrona</h2>
          <p>Bachelor of Computer Science in Games Programming</p>
      </dd>
      
      <dd class="clear"></dd>
      
      <dt>Competence Areas</dt>
      <dd>
        <ul>
          <li>System Development</li>
          <li>Test & Verification</li>
          <li>Object Oriented Design</li>
          <li>Web Applications</li>
          <li>Game Development</li>
        </ul>
      </dd>
      
      <dd class="clear"></dd>
      
      <dt>Methods And Tools</dt>
      <dd>
        <ul>
          <li>Windows</li>
          <li>Mac OS X</li>
          <li>MS Office, Visual Studio</li>
          <li>C++, Java, J EE, XML</li>
          <li>PHP, JavaScript, HTML5, CSS3, LESS</li>
          <li>Spring, Maven</li>
          <li>Tridion CMS</li>
          <li>Ruby, Ruby-On-Rails</li>
          <li>Objective-C</li>
          <li>Git, Mercurial</li>
          <li>Scrum</li>
        </ul>
      </dd>
      
      <dd class="clear"></dd>
      
      <dt>Spoken Languages</dt>
      <dd>
        <ul>
          <li>Swedish - Fluent</li>
          <li>English - Fluent</li>
          <li>Danish - Basic</li>
        </ul>
      </dd>
      
      <dd class="clear"></dd>
      
      <dt>Experience</dt>
      <dd>
        <h2>HiQ Karlskrona AB <span>Programmer - Karlskrona, Sweden - 2010-2013</span></h2>
        <ul>
            <li>Web Programmer, WP&A, Telenor Sverige AB</li>
        </ul>
        
        <h2>Telenor Sverige AB <span>Web Programmer - Karlskrona, Sweden - 2010 - 2013</span></h2>
        <p>
          Worked with the Telenor “Mina Sidor” team, maintaining and improve a web application used by Telenor’s customers to
          handle their subscriptions and services. The application is built with the Spring MVC and Security frameworks on top of a
          backend built with Java EE.
          The projects at Mina Sidor revolved mostly around allowing the web portal to interact with around lying Telenor systems,
          in order to correctly handle newly launched services, subscription types and general changes in other systems.
        </p>
        <p>
          Worked with the Telenor.se team to maintain and improve Telenor’s main page and web shop.
          Telenor.se is built with the Spring framework and Java EE on the backend for both the informational pages and the web shop,
          using Tridion CMS for content management.
          Was part of a project to modernize the web site, introducing HTML5 and CSS3 technologies in order to rework the majority of the front end,
          letting the site support different devices and giving the site editors more freedom to control site content.
        </p>
        <p>
          Worked with a project to create a new proof-of-concept portal from the bottom up, based on technologies from both Telenor.se and Mina Sidor,
          allowing for special and more complex business rules than the ones that are used on the other portals.
        </p>
      </dd>

      <dd class="clear"></dd>

      <dt>Hobbies</dt>
      <dd>Football, Video Games, Home Brewing and Craft Beer, Social Justice, Social Media</dd>

      <dd class="clear"></dd>

      <dt>References</dt>
      <dd>Available on request</dd>
      
      <dd class="clear"></dd>
  </dl>

  <div class="clear"></div>
</div>
